
/*


Conatct Page 


*/

.contact-field {
    position: relative;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contact-field .content-field {
    max-width: 800px;
    text-align: center;
  }
  
  .contact-field .content-field h2 {
    font-size: 36px;
    font-weight: 700;
    color:#fab201;
  }
  
  
  .contact-field .content-field p {
    font-weight: 400;
    color: #180203;
  }
  
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  
  .contact-container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #180203;
  }
  
  .contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  
  .contact-container .contactInfo .box .text h3 {
    font-weight: 500;
    color:  #fab201;
  }
  
  .contactForm {
    width: 40%;
    padding: 40px;
    background-color: none;
    border: 5px;
    border-color:  #8f0099;
  }
  
  .contactForm h2 {
    font-size: 40px;
    color: #fab201;
    font-weight: 700;
  }
  
  .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contactForm .inputBox input,
  .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background-color: #fcf2d9;
  }
  
  .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #180203;
    font-weight: 300;
  }
  
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span {
    color: #180203;
    font-size: 12px;
    font-weight: 100;
    transform: translateY(-20px);
  }

  .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #fab201;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
  }

  .contactForm .inputBox input[type="submit"]:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    background-color: #e51620;
    cursor: pointer;
  }

  .map {
    align-items: center center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0px 250px 50px 250px;
  }

  .google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
