
/* Contact Styles */

@media only screen and (max-width: 913px) {
    .map {
      padding: 0px 100px 50px 100px;
    }

    .contact-container {
      flex-direction: column;
    }

    .contact {
      padding:0;
    }
    }
    
    
    @media only screen and (max-width: 415px) {
      .map {
        padding: 0px 10px 50px 10px;
      }
      }
      
      
    @media only screen and (min-width:416px) and (max-width: 541px) {
      .map {
        padding: 0px 50px 50px 50px;
      }
      }
    
        
    @media only screen and (max-width: 281px) {
      .contact-container .contactInfo .box {
          display: flex;
          flex-direction: column;
      }
    
      .contact-container .contactInfo .box .icon {
        width: 60px;
        height: 60px;
    }
    
    .contact {
      padding: 10px;
    }
      }